.nav__area {
    display: flex;
    height: 5rem;
    align-items: center;
    width: 100vw;
    background-color: #F2F2F2;
    border: 1px solid black;
    padding: 20px;

  }

  .nav__title {
    font-size: 38px;
    font-weight: bold;
    margin-right: auto;
  }

  .NavBarButtons {
    margin-left: 20px;
  }