@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E6E2DD;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  }


#usergroups::-webkit-scrollbar {
  display: none;
}

#dms::-webkit-scrollbar {
  display: none;
}

#todolist::-webkit-scrollbar {
  display: none;
}

#dmp::-webkit-scrollbar {
  display: none;
}

#notifs::-webkit-scrollbar {
  display: none;
}

  
