.kanban-container {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 60%;
    height: 80vh;
    border-radius: 1rem;
}

.kanban-wrapper {
    display: flex;
    height: 75%;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.kanban-inside-containers {
    height: 100%;
    width: 25%;    
    border-radius: 1rem;
    background-color: white;
}

.kanban-listitem-draggable.dragging {
    opacity: 0.5;
}

.kanban-listitem-draggable{
    margin-top: 1rem;
    cursor: pointer;
    height: 4rem;
    border-radius: 50px;
    border: 1px solid gray;
}

.kanban-listitem-draggable:hover {
    background-color: lightgray;
}