.kanban-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #F2F2F2;
    width: 70%;
    height: 70vh;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px;
}

.kanban-wrapper {
    display: flex;
    height: 75%;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.kanban-title {
    position: relative;
    margin-left: 35%;
}

.kanban-wrapper h1 {
   margin-left: 38%;
   border-bottom: 1px solid black;
   width: fit-content;
}

.kanban-inside-containers {
    height: 100%;
    width: 25%;    
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 25px;
}

.kanban-listitem-draggable.dragging {
    opacity: 0.5;
}

.kanban-listitem-draggable{
    margin-top: 1rem;
    cursor: pointer;
    height: 4rem;
    border-radius: 50px;
    border: 1px solid gray;
}

.kanban-listitem-draggable:hover {
    background-color: lightgray;
}